body {
    background-color:#f9f7fe;
    font-family: "Work Sans", sans-serif;

}
.app {
    background: white;
    margin: 50px auto;
    max-width: 800px;
    padding: 50px;
    border-radius: 20px;
    box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
}
.search-form {
display: flex;
justify-content: center;
align-items: center;
}
.form-input {
    background-color: #f9f7fe;
    border: none;
    width: 60%;
    border-radius: 10px;
    font-size: 15px;
    padding: 10px;
   
}
.form-button {
    background-color: #f9f7fe;
    font-size: 15px;
    border: none;
    border-radius: 10px;
    padding: 10px;
    
}


